{% extends "Aplicacion/base.html" %}

{% load static %}

{% block main %}

<h1>Matias Ferrando</h1>
<p>Este es el about del sitio web. Vengo de 8 años de experiencia en Ventas, primordialmente de Cursos Online. Ese es el motivo por el cual me volqué a realizar una pagina web donde se puedan administrar los cursos online de alguna escuela. Me incliné por la programación porque siempre me gusto mucho el tema de computacion y sistemas. Empece con un curso de desarrollo web y rapidamente me di cuenta que la parte BackEnd es lo que mas me apasionaba.</p>



{% endblock %}