{% extends "Aplicacion/base.html" %}
{% load static %}

{% block main %}
<main>
  
    <div class="container marketing">
  
      <!-- START THE FEATURETTES -->
  
      
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Cursos Completos</h2>
          <p class="lead">Acá vas a poder agregar y ver todos los cursos del centro.</p>
        </div>
        <div class="col-md-5 order-md-1">
          
            <a href="{% url 'admin-cursos' %}"><img src="../../static/Aplicacion/assets/cursos.jpg" height="400" width="500"></a>
          
  
        </div>
      </div>
  
      
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Profesores</h2>
          <p class="lead">Acá podes agregar y ver a todos los profesores de nuestra institución</p>
        </div>
        <div class="col-md-5 order-md-1">
          
          <a href="{% url 'profesores' %}"><img src="../../static/Aplicacion/assets/profersores.jpg" height="400" width="500"></a>
          
  
        </div>
      </div>

      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Alumnos</h2>
          <p class="lead">Acá vas a poder ver a todos los Alumnos de nuestra escuela y agregar a los que hagan falta</p>
        </div>
        <div class="col-md-5 order-md-1">
          
          <a href="{% url 'alumnos' %}"><img src="../../static/Aplicacion/assets/alumnos.jpg" height="400" width="500"></a>
          
  
        </div>
      </div>
  
      
  
  
      <!-- /END THE FEATURETTES -->INDEX.
  
    </div><!-- /.container -->
  
  
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-end"><a href="https://getbootstrap.com/docs/5.0/examples/carousel/#">Back to top</a></p>
      <p>© 2017–2021 Company, Inc. · <a href="https://getbootstrap.com/docs/5.0/examples/carousel/#">Privacy</a> · <a href="https://getbootstrap.com/docs/5.0/examples/carousel/#">Terms</a></p>
    </footer>
</main>

{% endblock %}